<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVyZCjhpeqkKrSEVFXA9tIgAAAAACAAAAAAAQZgAAAAEAACAAAAD+C1l2Vw7aP+XsDT7Tl3zdF1ZIFwsAdTKDQ7mZgAR+MwAAAAAOgAAAAAIAACAAAAAU/hrACgJFpPniJ9cjOJSiXwHjLOm7lak79b8xBS3GwzAAAADUWo88d/ieBjT3XWoYV75oOQihs8uDMZArdMDSRAqGYsO6XyZe/VkA4Kt1+5thkR9AAAAA8LfBiD3lSRIX3azuujRCl9oHAW/kr2e7oGCQjzBQSRp59Gi1KH1b4Mk5B223q4ZrJ6UZcn/ReIWOpQhOGiYeDQ==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVyZCjhpeqkKrSEVFXA9tIgAAAAACAAAAAAAQZgAAAAEAACAAAAD1eHeC1QL9dzVEXDMqseb9PIV2mmBj0tcOKYIPVUTUFwAAAAAOgAAAAAIAACAAAACv1lC18QvMHsPOziPopx1iIZp6R1E0ppFx4GKzHTFrCzAAAAAQcVo5PWIvKWT1NaqbAb5iExp39WuJYvprukwuQ/fdmUNO4ka7Oanmz+kfagJDH7ZAAAAAQwP2GDI2NcLq+6O7T/WnU5K2uqBGmS0d7S8ZsH5z5kESt5h1US8+dX6XY/cOw1m27gjscxeTMqS0ZdCOmycc9g==" />
  </apikeys>
</configuration>